* {
    font-family: "Roboto";
    margin: 0 auto;
    padding: 0 auto;
}

.contenedor {
    margin-top: 50px;
    width: 70%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 16px 14px -6px rgba(0,0,0,0.44);
    color: rgb(43, 43, 43);
}

#post {
    font-size: 20px;
    box-shadow: inset 0px 49px 14px -43px rgba(0,0,0,0.39);
}

#header {
    background-color: rgb(209, 183, 36);
    margin: 0;
    padding: 0.5em;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#post h2 {
    color: rgb(135, 113, 51);
    margin-bottom: 15px;
    text-align: left;
    padding: 1em;
    padding-left: 0.6em;
    padding-bottom: 0em;
}

.contenedor p {
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}